@use "css/constants";

.board {
  width: percentage(9/16);
  display: grid;
  $bigDim: percentage(constants.$tile-ratio);
  $smallDim: (100% - $bigDim*2)/9;

  grid-template-columns: $bigDim repeat(9, $smallDim) $bigDim;
  grid-template-rows: $bigDim repeat(9, $smallDim) $bigDim;
}


